include LICENSE
include MANIFEST.in
include .editorconfig
include .pre-commit-config.yaml
recursive-include docs *
include .flake8
include pyproject.toml
include tox.ini
graft src
graft tests
global-exclude *.pyc
